.page { 
    /* background-position: center; */
    /* background-image: url("res://splash"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    width:100%;
    height:100%;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
   /* filter: blur(5px); */
 }

 .input-text{
    border: none;
    border-color: transparent;
 }

 TextField {
    border-width: 0 0 2 0;
    border-bottom-color: transparent;
}

.input-field{
    background-color: white;
}

.login-button{
    /* margin-top:15; */
    background-color:  #D40000;
    color: white;    
    /* margin-bottom:15; */
  }
  
  .navigate-back-button{
    horizontal-align:left;
    background-image: url("res://ic_back");
    background-repeat: no-repeat;    
    margin-left: 5;
    height:30;
    width:30;
    
   
}
.navigate-back-button:active{
 horizontal-align:left;
 background-image: url("res://ic_back_focus");
 background-repeat: no-repeat;
 margin-left: 5;
 height:30;
 width:30;
 }

 
.login-button:active{
    color:white;
    background-color: #4f4f4f;
   }