TextField {
    border-color: orange;
    border-width: 1px 1px 1px 1px;
    background-color: white;
}

.textFieldFocus {
    border-color: red;
    border-width: 1px 1px 1px 1px;
    background-color: white;
}

.navigate-back-button{
    horizontal-align:left;
    background-image: url("res://ic_back");
    background-repeat: no-repeat;
     height:30;
     width:30;
     margin-left: 5;
}
.navigate-back-button:active{
 horizontal-align:left;
 background-image: url("res://ic_back_focus");
 background-repeat: no-repeat;
 margin-left: 5;
 height:30;
 width:30;
 
}

.label1{

    font-size: 20;
    margin-top: 20;
}

.label2{
    font-size: 20;
    /* margin-top: ; */
}







.login-button-container{
    margin-top:30;
    margin-left: 10;
    border-radius: 20;
    background-color: #cc3333;
    width: 90%;
  }

  .login-button{
    /* margin-top:15; */
    border-radius: 20;
    background-color:  #D40000;
    color: white;
    width: 100%;
   
    z-index: 0;
    /* margin-bottom:15; */
  }
  
  .login-button:active{
    color:white;
    background-color: #4f4f4f;
   }


