    <FlexboxLayout width="100%" height="100%" androidStatusBarBackground="transparent">
        <StackLayout>
            <GridLayout width="100%" height="100%" rows="auto,auto,auto">

                <GridLayout row="0" columns="*,auto,*" backgroundColor="black" width="100%" height="8%">
                    <StackLayout style="box-sizing:border-box;" paddingLeft="6%" paddingRight="1%" width="11.5%" height="60%"
                        backgroundColor="transparent" col="0" verticalAlignment="middle" horizontalAlignment="left">
                        <Button class="navigate-back-button" (tap)="nativegateBack()"></Button>
                    </StackLayout>

                    <StackLayout margin="10" col="1" verticalAlignment="middle" backgroundColor="transparent"
                        horizontalAlignment="center">
                        <Label text="EDIT MY ACCOUNT INFO" color="white"></Label>
                    </StackLayout>
                    <StackLayout margin="10" col="1" verticalAlignment="middle" horizontalAlignment="center">
                    </StackLayout>
                </GridLayout>


                <StackLayout height="92%" width="100%" row="1" style="background-image:url('res://img_background_splash');background-repeat: no-repeat;background-position: center; background-size: cover;">
                    <GridLayout width="100%" height="auto" marginTop="2%" rows="auto, auto, auto, auto, auto, auto,auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto">

                            <Label row="0" textAlignment="center" text="Please choose a password between 6-20"></Label>
                            <Label row="1" textAlignment="center" text="characters"></Label>


                        <Label row="2" marginLeft="5%" text="Current Password"></Label>

                        <TextField row="3" marginLeft="5%" (focus)="onFocus($event)" (blur)="onBlur($event)"
                            [style.borderColor]="border_color" [style.backgroundColor]="background_color" onfocus="onTextFieldFocus()"
                            style.placeholderColor="#646464" autocorrect="false" (returnPress)="onReturn($event)"></TextField>
                        <!-- <StackLayout row="1" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                        </StackLayout> -->

                        <Label row="4" marginLeft="5%" text="New Password"></Label>

                        <TextField row="5" marginLeft="5%" (focus)="onFocus($event)" (blur)="onBlur($event)"
                            [style.borderColor]="border_color" [style.backgroundColor]="background_color" onfocus="onTextFieldFocus()"
                            style.placeholderColor="#646464" autocorrect="false" (returnPress)="onReturn($event)"></TextField>

                        <Label row="6" marginLeft="5%" text="Confirm New Password"></Label>

                        <TextField row="7" marginLeft="5%" (focus)="onFocus($event)" (blur)="onBlur($event)"
                            [style.borderColor]="border_color" [style.backgroundColor]="background_color" onfocus="onTextFieldFocus()"
                            style.placeholderColor="#646464" autocorrect="false" (returnPress)="onReturn($event)"></TextField>

                            <StackLayout row="8" class="login-button-container" (tap)="onLoginClick()">
                                    <Button text="SUBMIT" class="login-button" ng-click="showme=true" (tap)="onLoginClick()"></Button>
                                </StackLayout>
                        <!-- <TextField row="2" marginLeft="5%" hint="First Name" style.placeholderColor="#646464"
                            autocorrect="false" (returnPress)="onReturn($event)"></TextField>
                        <StackLayout row="3" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                        </StackLayout>

                        <TextField row="4" marginLeft="5%" hint="First Name" style.placeholderColor="#646464"
                            autocorrect="false" (returnPress)="onReturn($event)"></TextField>
                        <StackLayout row="5" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                        </StackLayout>

                        <TextField row="6" marginLeft="5%" hint="First Name" style.placeholderColor="#646464"
                            autocorrect="false" (returnPress)="onReturn($event)"></TextField>
                        <StackLayout row="7" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                        </StackLayout>

                        <TextField row="8" marginLeft="5%" hint="First Name" style.placeholderColor="#646464"
                            autocorrect="false" (returnPress)="onReturn($event)"></TextField>
                        <StackLayout row="9" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                        </StackLayout>

                        <TextField row="10" marginLeft="5%" hint="First Name" style.placeholderColor="#646464"
                            autocorrect="false" (returnPress)="onReturn($event)"></TextField>
                        <StackLayout row="11" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                        </StackLayout>

                        <TextField row="12" marginLeft="5%" hint="First Name" style.placeholderColor="#646464"
                            autocorrect="false" (returnPress)="onReturn($event)"></TextField>
                        <StackLayout row="13" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                        </StackLayout>

                        <TextField row="14" marginLeft="5%" hint="First Name" style.placeholderColor="#646464"
                            autocorrect="false" (returnPress)="onReturn($event)"></TextField> -->
                        <!-- <StackLayout row="15" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                        </StackLayout> -->
                    </GridLayout>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </FlexboxLayout>