.title{
    font-size: 15;
    color: black;
}

.description{
    font-size: 14;
    color: #757575;
}

/* .divider{
    box-sizing: border-box;
} */

.logoutLabel{
    font-size: 15;
    color: black;
}
