.background{
  height: 100%;
  width: 100%;
}

.splash1_background{
  /* background-image:url("res://splash1"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  justify-content: flex-end;
}

.splash2_background{
  /* background-image:url("res://splash2"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: flex-end;
}

.splash3_background{
  /* background-image:url("res://splash3"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: flex-end;
}

.splash4_background{
  /* background-image:url("res://splash4"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: flex-end;
}

.content-container{
  margin-bottom: 70;
  text-align: center;
}

.splash_contentHeading{
  color: gray;
  font-size:40;
}

.splash_contentDetail{
  color: white;
  font-size:18;
}

.gkuLogo-container{
  horizontal-align:center;
  vertical-align: top;
}

.logo-background{
  height:130;
  width:130;
  margin-top:60;
  border-radius: 10;
}

.fab-button-container {
  margin-bottom: 15;
  horizontal-align: center; 
  vertical-align: bottom;
}

.fab-button{
  height: 40;
  width: 200;
  border-radius: 10;
  border-color: white;
  color:white;
  font-size: 15;
  background-color: #ee9a68;
}

.gku_logo{
  width:80;
  height:80;
}
