<!-- <StackLayout marginLeft="6%" width="5.5%" height="50%" col="0" verticalAlignment="top"
		horizontalAlignment="left">
		<Button class="navigate-back-button" (tap)="nativegateBack()"></Button>
	   </StackLayout> -->
<Button row="0" class="navigate-back-button" verticalAlignment="top" (tap)="nativegateBack()" marginTop="1%" marginLeft="6%"
 width="5.5%" height="5%"></Button>
 
<StackLayout row="1" class="register-logo" marginTop="3%" horizontalAlignment="center" width="20%" height="20%">
	<Image src="res://img_logo_splash"></Image>
</StackLayout>
<StackLayout class="parentlayout">
	<StackLayout class="searchactivity" orientation="horizontal">
		<StackLayout class="back-buttonlayout">
			<Button class="navigate-back-button" col="0" (tap)="nativegateBack()"></Button>

		</StackLayout>
		<StackLayout class="input-field">
			<Label text="Select a country" class="label"></Label>
			<RadAutoCompleteTextView [items]="autocompleteCountries" (didAutoCompleteEvent)=loading($event) suggestMode="Suggest" displayMode="Tokens">
				<SuggestionView tkAutoCompleteSuggestionView>
					<ng-template tkSuggestionItemTemplate let-item="item">
						<GridLayout columns="auto, *">

							<!-- <Image height="40" col="1" [src]="getImageName(item.text)"></Image> -->
							<Label col="2" [text]="item.text" class="searchlabel"></Label>
						</GridLayout>
					</ng-template>
				</SuggestionView>
			</RadAutoCompleteTextView>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

	</StackLayout>

</StackLayout>